.addBlock{
    height: 350px;
    max-width: 250px;
    background-color: #6294c1;
    border-radius: 5px;
    box-shadow: 0px 0px 4px rgb(102, 114, 185);
    display: flex;
    align-items: center;
    transition: box-shadow 0.5s;
    &:hover{
        box-shadow: 0px 0px 6px rgb(85, 126, 189);
        
    }
    cursor: pointer;
    .iconWrapper{
        margin-left: auto;
        margin-right: auto;
        font-size: 1.2em;
        p{
            color: white;
            font-weight: 500;
        }
    }
}