.loginFormLayout{
    min-height: 100vh;
    display: flex;
    margin: auto;
    background-image: url("../../../assets//loginBg.jpg");
    background-size: cover;
    .loginForm{
        border: 2px solid #d9dbe4;
        border-radius: 5px;
        min-width: 300px;
        max-width: 500px;
        padding: 40px 20px;
        background-color: white;
        margin: auto;
        transform: translateY(-10%);
        :global{
            .login-form-button{
                width: 100%;
            }
        }
        .title{
            font-family: "楷体";
            text-align: center;
        }
    }
}
@media screen and (max-width:500px){
    .loginFormLayout{
        background-image: none;
    }
}